In [ ]:
import polars as pl
from datetime import datetime

In [ ]:
#Question 1
from google.colab import drive
drive.mount('/content/drive')

file_path = "/content/drive/MyDrive/Colab Notebooks/faa_strikes.txt"



strikes = pl.read_csv(
    file_path,
    separator="\t",
    has_header=True,
    infer_schema_length=10000,
    null_values=["", "NA"],
    truncate_ragged_lines=True
)

print(strikes.shape)
print(strikes.columns)
strikes.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
(28298, 25)
['Airport: Code', 'Airport: Name', 'Origin State', 'Origin State Code', 'Country', 'Aircraft: Type', 'Aircraft: Number of engines', 'Collision Date and Time', 'When: Time of day', 'When: Phase of flight', 'Effect: Amount of damage (detailed)', 'Effect: Impact to flight', 'Effect: Indicated Damage', 'Cost: Aircraft time out of service (hours)', 'Cost: Total $', 'Days', 'Feet above ground', 'Miles from airport', 'Wildlife: Animal Category', 'Wildlife: Species Order', 'Wildlife: Species Group', 'Wildlife: Species', 'Wildlife: Species ID', 'Number of Strikes', 'Record ID']

shape: (5, 25)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Airport:  ┆ Airport:  ┆ Origin    ┆ Origin    ┆ … ┆ Wildlife: ┆ Wildlife: ┆ Number of ┆ Record   │
│ Code      ┆ Name      ┆ State     ┆ State     ┆   ┆ Species   ┆ Species   ┆ Strikes   ┆ ID       │
│ ---       ┆ ---       ┆ ---       ┆ Code      ┆   ┆ ---       ┆ ID        ┆ ---       ┆ ---      │
│ str       ┆ str       ┆ str       ┆ ---       ┆   ┆ str       ┆ ---       ┆ i64       ┆ i64      │
│           ┆           ┆           ┆ str       ┆   ┆           ┆ str       ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ KAAF      ┆ APALACHIC ┆ Florida   ┆ FL        ┆ … ┆ Domestic  ┆ 1F12      ┆ 1         ┆ 17459    │
│           ┆ OLA       ┆           ┆           ┆   ┆ dog       ┆           ┆           ┆          │
│           ┆ REGIONAL  ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ ARPT      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KAAF      ┆ APALACHIC ┆ Florida   ┆ FL        ┆ … ┆ Herons,   ┆ I1        ┆ 1         ┆ 17114    │
│           ┆ OLA       ┆           ┆           ┆   ┆ egrets,   ┆           ┆           ┆          │
│           ┆ REGIONAL  ┆           ┆           ┆   ┆ bitterns  ┆           ┆           ┆          │
│           ┆ ARPT      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KABE      ┆ LEHIGH    ┆ Pennsylva ┆ PA        ┆ … ┆ American  ┆ K5114     ┆ 1         ┆ 259361   │
│           ┆ VALLEY    ┆ nia       ┆           ┆   ┆ kestrel   ┆           ┆           ┆          │
│           ┆ INTL      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KABE      ┆ LEHIGH    ┆ Pennsylva ┆ PA        ┆ … ┆ Mourning  ┆ O2205     ┆ 1         ┆ 345167   │
│           ┆ VALLEY    ┆ nia       ┆           ┆   ┆ dove      ┆           ┆           ┆          │
│           ┆ INTL      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KABE      ┆ LEHIGH    ┆ Pennsylva ┆ PA        ┆ … ┆ Red-taile ┆ K3302     ┆ 1         ┆ 262782   │
│           ┆ VALLEY    ┆ nia       ┆           ┆   ┆ d hawk    ┆           ┆           ┆          │
│           ┆ INTL      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [ ]:
#Question 2

strikes = strikes.rename({c: c.strip() for c in strikes.columns})

running_total_strikes = (
    strikes
    .with_columns(
        pl.col("Collision Date and Time")
          .str.strptime(pl.Datetime, strict=False)
          .dt.date()
          .alias("date")
    )
    .group_by("date")
    .agg(pl.col("Number of Strikes").sum().alias("daily_strikes"))
    .sort("date")
    .with_columns(
        pl.col("daily_strikes").cum_sum().alias("strikes_cumulative")
    )
    .filter(pl.col("date") <= pl.date(2013, 12, 31))
)

running_total_strikes

shape: (4_776, 3)
┌────────────┬───────────────┬────────────────────┐
│ date       ┆ daily_strikes ┆ strikes_cumulative │
│ ---        ┆ ---           ┆ ---                │
│ date       ┆ i64           ┆ i64                │
╞════════════╪═══════════════╪════════════════════╡
│ 2000-01-02 ┆ 1             ┆ 1                  │
│ 2000-01-03 ┆ 2             ┆ 3                  │
│ 2000-01-05 ┆ 3             ┆ 6                  │
│ 2000-01-06 ┆ 1             ┆ 7                  │
│ 2000-01-08 ┆ 4             ┆ 11                 │
│ …          ┆ …             ┆ …                  │
│ 2013-12-27 ┆ 6             ┆ 24096              │
│ 2013-12-28 ┆ 1             ┆ 24097              │
│ 2013-12-29 ┆ 2             ┆ 24099              │
│ 2013-12-30 ┆ 4             ┆ 24103              │
│ 2013-12-31 ┆ 6             ┆ 24109              │
└────────────┴───────────────┴────────────────────┘

In [ ]:
#Question 3
type_species = (
    strikes

    .group_by(["Aircraft: Type", "Wildlife: Species Group"])
    .agg(
        pl.col("Cost: Total $").sum().alias("damage")
    )

    .with_columns(
        pl.col("damage")
        .rank(method="dense", descending=True)
        .over("Aircraft: Type")
        .alias("ranking")
    )

    .filter(pl.col("ranking") == 2)
)

type_species

shape: (3, 4)
┌────────────────┬─────────────────────────┬──────────┬─────────┐
│ Aircraft: Type ┆ Wildlife: Species Group ┆ damage   ┆ ranking │
│ ---            ┆ ---                     ┆ ---      ┆ ---     │
│ str            ┆ str                     ┆ i64      ┆ u32     │
╞════════════════╪═════════════════════════╪══════════╪═════════╡
│ Helicopter     ┆ Vultures                ┆ 116748   ┆ 2       │
│ Airplane       ┆ Kites, Hawks, Eagles    ┆ 48989287 ┆ 2       │
│ null           ┆ Vultures                ┆ 56227    ┆ 2       │
└────────────────┴─────────────────────────┴──────────┴─────────┘

In [ ]:
#Question 4

greatest_strike_increase = (
    strikes
    .with_columns(
        pl.col("Collision Date and Time")
          .str.strptime(pl.Datetime, strict=False)
          .dt.date()
          .alias("date")
    )
    .group_by("date")
    .agg(pl.col("Number of Strikes").sum().alias("daily_strikes"))
    .sort("date")
    .with_columns(pl.col("daily_strikes").shift(1).alias("previous_day"))
    .with_columns((pl.col("daily_strikes") - pl.col("previous_day")).alias("delta_strikes"))
    .sort("delta_strikes", descending=True)
)

greatest_strike_increase

shape: (5_285, 4)
┌────────────┬───────────────┬──────────────┬───────────────┐
│ date       ┆ daily_strikes ┆ previous_day ┆ delta_strikes │
│ ---        ┆ ---           ┆ ---          ┆ ---           │
│ date       ┆ i64           ┆ i64          ┆ i64           │
╞════════════╪═══════════════╪══════════════╪═══════════════╡
│ 2000-01-02 ┆ 1             ┆ null         ┆ null          │
│ 2010-10-29 ┆ 25            ┆ 7            ┆ 18            │
│ 2014-08-25 ┆ 25            ┆ 8            ┆ 17            │
│ 2012-06-28 ┆ 21            ┆ 5            ┆ 16            │
│ 2009-07-07 ┆ 21            ┆ 7            ┆ 14            │
│ …          ┆ …             ┆ …            ┆ …             │
│ 2012-06-29 ┆ 6             ┆ 21           ┆ -15           │
│ 2012-10-14 ┆ 5             ┆ 20           ┆ -15           │
│ 2014-08-26 ┆ 10            ┆ 25           ┆ -15           │
│ 2014-10-29 ┆ 5             ┆ 24           ┆ -19           │
│ 2013-08-20 ┆ 8             ┆ 28           ┆ -20           │
└────────────┴───────────────┴──────────────┴───────────────┘

In [ ]:
#Question 5
strikes = strikes.rename({c: c.strip() for c in strikes.columns})

greatest_strike_increase_type = (
    strikes
    .with_columns(
        pl.col("Collision Date and Time")
          .str.strptime(pl.Datetime, strict=False)
          .dt.date()
          .alias("date")
    )
    .group_by(["Aircraft: Type", "date"])
    .agg(pl.col("Number of Strikes").sum().alias("daily_strikes"))
    .sort(["Aircraft: Type", "date"])
    .with_columns(
        pl.col("daily_strikes").shift(1).over("Aircraft: Type").alias("previous_day")
    )
    .with_columns(
        (pl.col("daily_strikes") - pl.col("previous_day")).alias("delta_strikes")
    )
    .with_columns(
        pl.col("delta_strikes")
          .rank(method="dense", descending=True)
          .over("Aircraft: Type")
          .alias("ranking")
    )
    .filter(pl.col("ranking") == 1)
)

greatest_strike_increase_type

shape: (6, 6)
┌────────────────┬────────────┬───────────────┬──────────────┬───────────────┬─────────┐
│ Aircraft: Type ┆ date       ┆ daily_strikes ┆ previous_day ┆ delta_strikes ┆ ranking │
│ ---            ┆ ---        ┆ ---           ┆ ---          ┆ ---           ┆ ---     │
│ str            ┆ date       ┆ i64           ┆ i64          ┆ i64           ┆ u32     │
╞════════════════╪════════════╪═══════════════╪══════════════╪═══════════════╪═════════╡
│ null           ┆ 2014-08-04 ┆ 5             ┆ 1            ┆ 4             ┆ 1       │
│ Airplane       ┆ 2014-08-25 ┆ 25            ┆ 8            ┆ 17            ┆ 1       │
│ Helicopter     ┆ 2010-07-21 ┆ 2             ┆ 1            ┆ 1             ┆ 1       │
│ Helicopter     ┆ 2012-11-02 ┆ 2             ┆ 1            ┆ 1             ┆ 1       │
│ Helicopter     ┆ 2013-10-28 ┆ 2             ┆ 1            ┆ 1             ┆ 1       │
│ Helicopter     ┆ 2014-08-14 ┆ 2             ┆ 1            ┆ 1             ┆ 1       │
└────────────────┴────────────┴───────────────┴──────────────┴───────────────┴─────────┘